#ninja-img{
    height: auto;
    width:100%;
}

#baddy-img{
    height: 150px;
    width:auto;
}

#belt-number{
    color:transparent;
}

.fight-container {
    height: 50px;
    position: relative;
    overflow-x: hidden;
  }
  
#ninja-star {
    width: auto;
    height: 100%;
    position: absolute;
  }