body{
    font-family: 'Indie Flower', cursive;
    font-size: 1.4rem;
}

.game-area{
    font-size: 2rem;
}

/* Backgroun Img */
@media (min-width: 1025px) {
    #game-container{
        background: white url('../images/background-light.jpg') no-repeat center top;
        background-size: cover;
        display: block;
        height: 100vh;
        width: 100vw;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    #game-container{
        background: white url('../images/background-light.jpg') no-repeat center top;
        background-size: cover;
        display: block;
        height: 100vh;
        width: 100vw;
    }
}

@media screen and (max-width: 480px) {
    #game-container{
        background: white url('../images/background-mobile.jpg') no-repeat center top;
        background-size: cover;
        display: block;
        height: 100vh;
        width: 100vw;
    }
  }

h1{
    font-family: 'Bangers', cursive;
    font-size: 9vw;
    color: black;
    -webkit-text-stroke: 2px white;
    text-shadow:
        3px 3px 0 black,
        -1px -1px 0 black,  
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;;
}

#helpModal{
    font-size:1.2rem;
}

.incorrect-container{
    color: red;
}

.correct-container{
    color: green;
}

#ninja-img{
    height: auto;
    width:100%;
}

.ninja-img-modal{
    height: auto;
    width:75%;
}

.ninja-win-modal{
    height: auto;
    width:75%;
}

#ninja-sad{
    height: auto;
    width:75%;
}

#dragon-img{
    height: auto;
    width:100%;
}

.fight-container {
    height: 50px;
    position: relative;
    overflow-x: hidden;
}
  
#ninja-star {
    width: auto;
    height: 100%;
    position: absolute;
}

#fire-ball {
    width: auto;
    height: 100%;
    position: absolute;
}

/* Buttons */
.btn-header{
    height: 50px;
    width: 50px;
    font-size: 1rem;
    background-color: black;
    color: white;
    border: none;
}

.btn-header:hover{
    background-color: white;
    color: black;
    border: black 1px solid;
}

#btn-sound{
    display: none;

}
#btn-sound-label{
    height: 50px;
    width: 50px;
    font-size: 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.25rem;
}
#btn-sound-label i{
    padding-top: 15px;
}

#btn-sound-label:hover{
    background-color: white;
    color: black;
    border: black 1px solid;
    cursor: pointer;
}

#btn-submit{
    height: 50px;
    width: auto;
    font-size: 1rem;
    background-color: black;
    color: white;
    border: none;
}

#btn-submit:hover{
    background-color: white;
    color: black;
    border: black 1px solid;
}

.btn--white{
    color: black;
    background-color: white;
    border-color: black;
}

.btn--yellow{
    color: black;
    background-color: yellow;
    border-color: black;
}

.btn--orange{
    color: black;
    background-color: orange;
    border-color: black;
}

.btn--green{
    color: white;
    background-color: green;
    border-color: black;
}

.btn--purple{
    color: white;
    background-color: purple;
    border-color: black;
}

.btn--blue{
    color: white;
    background-color: blue;
    border-color: black;
}

.btn--brown{
    color: white;
    background-color: brown;
    border-color: black;
}

.btn--red{
    color: white;
    background-color: red;
    border-color: black;
}

.btn--black{
    color: white;
    background-color: black;
    border-color: black;
}

/* Progress Bar */
#dragon-progress{
    width: 0;
}

#ninja-progress{
    width: 0;
}

/* Answer Box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}