:root {
    --white: #E7E2DB;
    --lightOrange: #F8BA50;
    --midOrange: #FB940A;
    --darkOrange: #EA7607;
    --lightGrey: #b3b3b3; 
    --black: #020101;
    --whiteTrans: rgba(255, 255, 255, 0.9);
    --blackTrans: rgba(0, 0, 0, 0.8);
}

.light-theme {
    --mainBg: var(--white);
    --fontColor: var(--black);
    --modalBg: var(--whiteTrans);
    --overlayBg: transparent;
}
  
.dark-theme {
    --mainBg: var(--black);
    --fontColor: var(--lightGrey);
    --modalBg: var(--black);
    --overlayBg: var(--blackTrans);
}

body {
    font-family: 'Indie Flower', cursive;
    color: var(--fontColor);
    margin: 0;
    padding: 0;
    background: var(--white) url('../images/bg_sunset.jpg') no-repeat right center fixed;
    background-size: cover;
}

/* Background Img */
.layer {
    background-color: var(--overlayBg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1{
    font-family: 'Bangers', cursive;
    font-size: 9vw;
    color: var(--black);
    -webkit-text-stroke: 2px var(--white);
    text-shadow:
        3px 3px 0 var(--black),
        -1px -1px 0 var(--black),  
        1px -1px 0 var(--black),
        -1px 1px 0 var(--black),
        1px 1px 0 var(--black);
}

h2{
    color: var(--black);
    text-shadow:
        -1px -1px 0 var(--white),  
        1px -1px 0 var(--white),
        -1px 1px 0 var(--white),
        1px 1px 0 var(--white);
}

.modal{
    font-size:1.2rem;
    color: var(--fontColor);
}

.modal-content{
    background-color: var(--modalBg);
    border: var(--fontColor) 3px solid;
}

.modal-footer{
    border-top: none;
}

footer{
    color: var(--darkOrange);
    position: fixed;
    bottom: 0px;
    left: 0px;
    margin: 0px;
}

footer a{
    text-decoration: none;
    color: var(--darkOrange);
}

#ninja-img{
    height: 100%;
    width:auto;
}

.ninja-img-modal{
    width:75%;
}

.ninja-win-modal{
    height: auto;
    width:75%;
}

#ninja-sad{
    height: auto;
    width:60%;
}

#dragon-img{
    height: 100%;
    width:auto;
}

.fight-container {
    height: 50px;
    position: relative;
    overflow-x: hidden;
}

.fight-scene {
    position: fixed;
    bottom: 10%;
    left:0;
    right:0;
}
  
#ninja-star {
    width: auto;
    height: 100%;
    position: absolute;
}

#fire-ball {
    width: auto;
    height: 100%;
    position: absolute;
}

/* Buttons */
.btn-header{
    height: 50px;
    width: 50px;
    font-size: 1rem;
    background-color: var(--mainBg);
    color: var(--fontColor);
    border: var(--fontColor) 1px solid;
}

.btn-header:hover{
    background-color: var(--fontColor);
    color: var(--mainBg);
    border: var(--fontColor) 1px solid;
}

#btn-submit{
    height: 50px;
    width: 50px;
    background-color: var(--mainBg);
    color: var(--fontColor);
    border: var(--fontColor) 1px solid;
}

#btn-submit:hover{
    background-color: var(--fontColor);
    color: var(--mainBg);
    border: var(--mainBg) 1px solid;
}

.btn--black{
    color: var(--fontColor);
    background-color: var(--mainBg);
    border: var(--fontColor) 3px solid;
}

/* Progress Bar */
#dragon-progress{
    width: 0;
}

#ninja-progress{
    width: 0;
}

/* Answer Box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
    background-color: var(--mainBg);
}

.input:focus {
    outline: none !important;
    border:1px solid var(--midOrange);
    box-shadow: 0 0 10px var(--lightOrange);
  }

/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    background-color: var(--fontColor);
    border-radius: 5px;
  }

.form-check-input:checked {
    background-color: var(--midOrange);
    border: solid 1px var(--white);
}

.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
    border-color: var(--lightOrange);
}

.belt-image{
      width: 75px;
      height: 75px;
}

.question-area{
    background-color: var(--modalBg);
    border-radius: 25px;
    border: var(--fontColor) solid 3px;
    position: fixed;
    top: 25%;
    left:0;
    right:0;
}

.question-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-contact:hover{
    background-color: var(--darkOrange);
    color: var(--black);
    border: var(--black) 1px solid;
    border-radius: 5px;
}