:root {
    --richBlackForeground: #0F1A20;
    --white: #f8f8f8;
    --black: #222;
    --whiteTrans: rgba(255, 255, 255, 0.9);
    --blackTrans: rgba(0, 0, 0, 0.8);
}

.light-theme {
    --mainBg: var(--white);
    --fontColor: var(--black);
    --modalBg: var(--whiteTrans);
    --overlayBg: transparent;
}
  
.dark-theme {
    --mainBg: var(--richBlackForeground);
    --fontColor: var(--white);
    --modalBg: var(--black);
    --overlayBg: var(--blackTrans);
}

body {
    font-family: 'Indie Flower', cursive;
    color: var(--fontColor);
}

/* Background Img */
.layer {
    background-color: var(--overlayBg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 1025px) {
    body{
        background: var(--white) url('../images/bg_sunset.jpg') no-repeat center top;
        background-size: cover;
        display: block;
        height: 100vh;
        width: 100vw;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    body{
        background: var(--white) url('../images/bg_sunset.jpg') no-repeat center top;
        background-size: cover;
        display: block;
        height: 100vh;
        width: 100vw;
    }
}

@media screen and (max-width: 480px) {
    body{
        background: var(--white) url('../images/bg_sunset.jpg') no-repeat center top;
        background-size: cover;
        display: block;
        height: 100vh;
        width: 100vw;
    }
  }

.fight-scene{
    position: fixed;
    bottom:10%;
}

h1{
    font-family: 'Bangers', cursive;
    font-size: 9vw;
    color: var(--black);
    -webkit-text-stroke: 2px var(--white);
    text-shadow:
        3px 3px 0 var(--black),
        -1px -1px 0 var(--black),  
        1px -1px 0 var(--black),
        -1px 1px 0 var(--black),
        1px 1px 0 var(--black);
}

.modal{
    font-size:1.2rem;
    color: var(--fontColor);
    border: var(--fontColor) 3px solid;
}

.modal-content{
    background-color: var(--modalBg);
}

.scores{
    color: var(--white);
}

#ninja-img{
    height: auto;
    width:100%;
}

.ninja-img-modal{
    width:75%;
}

.ninja-win-modal{
    height: auto;
    width:75%;
    font-size:1.2rem;
}

#ninja-sad{
    height: auto;
    width:60%;
}

#dragon-img{
    height: auto;
    width:100%;
}

.fight-container {
    height: 50px;
    position: relative;
    overflow-x: hidden;
}
  
#ninja-star {
    width: auto;
    height: 100%;
    position: absolute;
}

#fire-ball {
    width: auto;
    height: 100%;
    position: absolute;
}

/* Buttons */
.btn-header{
    height: 50px;
    width: 50px;
    font-size: 1rem;
    background-color: var(--mainBg);
    color: var(--fontColor);
    border: var(--fontColor) 1px solid;
}

.btn-header:hover{
    background-color: var(--fontColor);
    color: var(--mainBg);
    border: var(--fontColor) 1px solid;
}

#btn-submit{
    height: 50px;
    width: 50px;
    background-color: var(--mainBg);
    color: var(--fontColor);
    border: var(--fontColor) 1px solid;
}

#btn-submit:hover{
    background-color: var(--fontColor);
    color: var(--mainBg);
    border: var(--mainBg) 1px solid;
}

.btn--black{
    color: var(--fontColor);
    background-color: var(--mainBg);
    border: var(--fontColor) 3px solid;
}

/* Progress Bar */
#dragon-progress{
    width: 0;
}

#ninja-progress{
    width: 0;
}

/* Answer Box */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    background-color: var(--black);
    border-radius: 5px;
  }

.belt-image{
      width:100px;
      height: 100px;
}

.game-intro{
      background-color: var(--modalBg);
      border-radius: 50px;
      border: var(--fontColor) solid 3px;
}

#btn-home{
    position: fixed;
    bottom:0px;
    right: 10px;
    margin: 20px;
    background-color: var(--mainBg);
    color: var(--fontColor);
    height: 50px;
    width: 50px;
    font-size: 1rem;
    background-color: var(--mainBg);
    color: var(--fontColor);
    border: var(--fontColor) 1px solid;
}


#btn-home:hover{
    background-color: var(--fontColor);
    color: var(--mainBg);
    border: var(--mainBg) 1px solid;
}